body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 24px;
    color: #333;
}

header {
    background-color: #2980b9;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.75em 1.5em;
    display: block;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FF9D2C;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 0.75em 1.5em;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 2em;
    padding: 1.5em;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    text-align: center;
    color: #2980b9;
    margin-bottom: 0.75em;
}

footer {
    background-color: #2980b9; /* Синий цвет для footer */
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    position: relative;
    width: 100%;
}
